*{margin: 0px; padding: 0px}

.header{
  min-height: 150px;
  background-color: cornflowerblue;
  color: white;text-align: center;
  overflow: hidden
}

.content {
    min-height: 500px;
    overflow: hidden;
}

.sidebar{
    min-height: 500px;
    background-color: darkslateblue;
    color: skyblue;
    text-align: center;
    width: 25%;
    float: left;
    overflow: hidden
}

.content_text{
    background-color: mediumslateblue;
    text-align: center;
    width: 75%;
    float: right;
    overflow: hidden;
    min-height: 500px;
}

.block1{
    background-color: indigo;
    width: 25%;
    min-height: 150px;
    color: goldenrod;
    text-align: center;
    float: left;
    margin: 35px 47px;
    padding: 2px 77px
}

.footer {
    min-height: 100px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
